@use '../../../../Shared/styles/reusables' as styles;

.informationPage {

  h1 {
    text-align: center;
    font-size: 30px;
    color: styles.$secondary;
    margin-bottom: 50px;
  }

  &__content {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;

    &__text {
      flex: 1;
      max-width: 500px;

      &--title {
        font-size: 20px;

        h2 {
          font-size: 30px;
          opacity: 70%;
        }

        p {
          font-size: 25px;
        }
      }

      &--link {
        display: block;

        p {
          margin-bottom: 50px;
          font-size: 20px;
        }

        a{
          @include styles.button-border;
          text-decoration: none;
          color: #000000;
          font-size: 18px;
        }
      }
    }

    &--image {
      width: 100vh;
      height: 50vh;

      img {
        width: 100%;
        height: auto;
        border-radius: 1%;
        box-shadow: 0 0 5px 0 rgba(10, 10, 10, 1000);
      }
    }
  }

}