@use '../../../../App/styles/colors';
@use '../../../../App/styles/variables' as v;

.secondSection{

   &__text{
     display: flex;
     flex-direction: column;
     background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
     v.$homePage--img center/cover no-repeat;
     justify-content: center;
     min-height: 500px;

     padding: 20px 0 0 75px;   /*вверх вправо вниз влево*/

     & span{
       color: colors.$secondary;
     }

     & p{
       line-height: 1.3;
     }
   }
}