@import '../../App/styles/colors';

.footer{
  padding-top: 20px;
  background-color: #000000;

  &__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vh;

    & h2{
      color: $secondary;
      font-size: 18px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: #676767;
    }
  }

  &__copyright{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 20px;
  }
}